.cadastro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.header-text {
  text-align: center;
  margin-bottom: 30px;

  h2 {
    font-weight: bold;
    color: var(--ion-color-primary);
    margin-bottom: 5px;
  }
  
  p {
    color: var(--ion-color-medium);
    margin: 0;
  }
}

ion-item {
  --padding-start: 0;
  margin-bottom: 10px;
}