.event-item {
    --background: var(--ion-card-background);
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .header-info {
    margin-bottom: 20px;
    h2 { font-weight: bold; margin-bottom: 5px; }
    p { color: var(--ion-color-medium); }
  }