.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh; /* Centraliza verticalmente */
}

.logo-section {
  text-align: center;
  margin-bottom: 40px;

  .main-icon {
    font-size: 80px;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    color: var(--ion-color-medium);
    margin-top: 0;
  }
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  margin-bottom: 10px;
}